<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfXTtbFTW9hBQ3QtCoYw6Iok4GJkzZwEA</string>
	<key>GCM_SENDER_ID</key>
	<string>397940334764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bear</string>
	<key>PROJECT_ID</key>
	<string>bear-4fbd5</string>
	<key>STORAGE_BUCKET</key>
	<string>bear-4fbd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397940334764:ios:ab36ebb7f5aa2266c17f09</string>
</dict>
</plist>